@import 'colors';

.about{
    background-color: $pink;
    height: auto;
    width: 100%;

    >main{
        background-color: white;
        max-width: 900px;
        margin: auto;
        height: 100%;
        >h1{
            background-color: $dark;
            color: $red;
            padding: 1rem;
            font: 500 3rem "Roboto";

        }
        >div{
            >article{
                >h5{
                    padding: 2rem;
                    font: 100 2rem "Roboto";
                    text-align: center;
                }
                >p{
                    text-align: center;
                    width: 50%;
                    margin: auto;
                    padding: 1rem;
                    letter-spacing: 2px;
                    word-spacing: 2px;
                }
                >a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 2rem;
                    
                }

            }
            >div{
                background-color: $dark;
                color: white;
                >h2{
                    padding: 1rem;
                    text-align: center;
                }
                >article{
                    width: 100%;
                    display: flex;
                    >div{
                        width: 40%;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        padding: 1rem;
                        >img{
                            border-radius: 100%;
                            width: 50%;
                        }
                    }
                    >p{
                        width: 50%;
                        padding: 1rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

     
    }
}

@media screen and (max-width:600px) {
    .about{
        >main{
            >h1{
                font: 100 3rem "Roboto";
                text-align: center;
            }
            >div{
                >article>p{
                    width: 100%;
                }
                >div>article{
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    >div{
                        width: 100%;
                        >h3{
                            padding: 1rem;
                            width: 100%;
                            text-align: center;
                        }
                    }
                    
                    
                    >p{
                        width: 100%;
                        text-align: center;
                        padding: 2rem;
                    }

                }
            }
        }
    }
    
}