@import 'colors';

footer{
    height: auto;
    background-color: $dark;
    display: grid;
    grid-template-columns: 2fr 1fr;
    color: white;
    padding: 4rem;
    align-items: center;
    

    h2{
        color: $red;
        font-size: 2rem;
        font-family: fantasy;
        font-weight: 400;
    }
    p, strong{
        margin: 1rem;
    }

    aside{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;

        h4{
          font-size: 1.1rem;
          
        }

        >a{
            font-size: 2rem;
            color: white;
            margin: 2px;
            
            &:hover{
                color: $red;
            }
        }

    }
}

@media screen and (max-width:600px) {
    footer{
        grid-template-columns: 1fr;
        

        aside{
            margin-top: 1rem;
        }
    }
    
}