@import 'colors';

.home{
    height: 90vh;
    overflow: hidden;
    div{
        padding-left: 8rem;
        padding-top: 15rem;

        >h1{
            font-size: 3rem;
            text-transform: uppercase;
        }
        p{
            font-size: 1.2rem;
        }
    }
    a{
        background-color: $red;
        color: white;
        padding: 1rem;
        display: block;
        width: 10rem;
        border: none;
        border-radius: 10px;
        margin: 2rem 8rem;
        text-align: center;
        cursor: pointer;
    }

    &::before{
        content: "";
        width: 100%;
        height: 100%;
        background-image: url('./../assets/bg.svg');
        position: absolute;
        background-repeat: no-repeat;
        background-size: cover;
        left: 0%;
        z-index: -1;
    }
}

@media screen and (max-width:600px) {

    .home{
        >div{
            text-align: center;
            padding-left: 0rem;
            padding-top: 10rem;
            >h1{
                
            }
        }
    }
    
}
