@import 'colors';

.paymentSuccess{
    background-color: $pink;
    height: 80vh;
    width: 100%;

    >main{
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0.5rem 2rem;
        height: 100%;
        width: 900px;
        margin: auto;

        >h1{
            font: 100 3rem "Roboto";
            padding: 0.5rem 5rem;
        }
        >p{
            padding: 0.5rem 3rem;
            margin-top: 2rem;
        }
        >a{
            margin: 1rem;
            background-color: $red;
            color: white;
            padding: 0.5rem 2rem;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.1rem;
        }
    }
}

@media screen and (max-width:600px) {

    .paymentSuccess{
        width: 100%;
        >main{
            width: 100%;
        }
    }
    
}